<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HELLO OAuth</title>
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</head>

<body>
	<fieldset>
		<label>로그인</label> <br>
		<button id="googleLoginBtn">구글 로그인</button>
	</fieldset>
</body>

<script>
 	const onClickGoogleLogin = () => {
        location.href="/auth/google";
 	};
	const googleLoginBtn = document.getElementById("googleLoginBtn");
	googleLoginBtn.addEventListener("click", onClickGoogleLogin);
    
</script>
</html>